Api/WebContent/wsdl/Soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.sni.etf.unibl.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.sni.etf.unibl.org" xmlns:intf="http://soap.sni.etf.unibl.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.sni.etf.unibl.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="test">
    <complexType/>
   </element>
   <element name="testResponse">
    <complexType/>
   </element>
   <element name="test2">
    <complexType/>
   </element>
   <element name="test2Response">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="test2Response">

      <wsdl:part element="impl:test2Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="testRequest">

      <wsdl:part element="impl:test" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="test2Request">

      <wsdl:part element="impl:test2" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="testResponse">

      <wsdl:part element="impl:testResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Soap">

      <wsdl:operation name="test">

         <wsdl:input message="impl:testRequest" name="testRequest">

       </wsdl:input>

         <wsdl:output message="impl:testResponse" name="testResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="test2">

         <wsdl:input message="impl:test2Request" name="test2Request">

       </wsdl:input>

         <wsdl:output message="impl:test2Response" name="test2Response">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SoapSoapBinding" type="impl:Soap">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="test">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="testResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="test2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="test2Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="test2Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SoapService">

      <wsdl:port binding="impl:SoapSoapBinding" name="Soap">

         <wsdlsoap:address location="http://localhost:8080/Api/services/Soap"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
