Api/WebContent/wsdl/Soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.sni.etf.unibl.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.sni.etf.unibl.org" xmlns:intf="http://soap.sni.etf.unibl.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.sni.etf.unibl.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getDocumentsByDate">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="wsHash" type="xsd:string"/>
      <element name="time" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDocumentsByDateResponse">
    <complexType>
     <sequence>
      <element name="getDocumentsByDateReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDocumentsByDateRequest">

      <wsdl:part element="impl:getDocumentsByDate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDocumentsByDateResponse">

      <wsdl:part element="impl:getDocumentsByDateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Soap">

      <wsdl:operation name="getDocumentsByDate">

         <wsdl:input message="impl:getDocumentsByDateRequest" name="getDocumentsByDateRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDocumentsByDateResponse" name="getDocumentsByDateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SoapSoapBinding" type="impl:Soap">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getDocumentsByDate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDocumentsByDateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDocumentsByDateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SoapService">

      <wsdl:port binding="impl:SoapSoapBinding" name="Soap">

         <wsdlsoap:address location="http://localhost:8080/Api/services/Soap"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
